{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h2 class ="col-md-4, mb-3">Sky Engineering Departments</h2>
        <p class="text-muted">Overview of the sky organisational structure.</p>
        <div class="row"></div>
        </div>
        {% for department in departments %}
<div class="col-md-4 mb-4">
    <div class="card shadow-sm h-100">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">{{ department.department_name }}</h5>
        </div>
        <div class="card-body">
            
            <p><strong>Organisation:</strong> {{ department.organisation.org_name }}</p>
            
            <p><strong>Leader:</strong> 
                {% if department.dept_leader_user %}
                    {{ department.dept_leader_user.username }}
                {% else %}
                    <span class="text-muted">Unassigned</span>
                {% endif %}
            </p>
            
            <p class="card-text">{{ department.dept_description|truncatewords:15 }}</p>
        </div>
        <div class="card-footer bg-transparent">
            <a href="#" class="btn btn-outline-primary w-100">View Teams</a>
        </div>
    </div>
</div>

{% empty %}
<div class="col-12">
    <div class="alert alert-warning">
        No departments found. Please ask the Admin to add data.
    </div>
</div>
{% endfor %}
{% endblock %}