<!-- top bar section -->
<div class="border-bottom border-primary border-3 p-3 d-flex align-items-center justify-content-between gap-3 flex-wrap">
    <div class="portal-search-wrap">
        <div class="input-group">
            <input
                type="text"
                class="form-control rounded-start-3 portal-search-input"
                placeholder="Search teams , departments , or managers ..."
            >
            <span class="input-group-text bg-white border-2 border-start-0 border-dark rounded-end-3"><i class="bi bi-search"></i></span>
        </div>
    </div>

    <div class="d-flex align-items-center gap-4 pe-1">
        <i class="bi bi-bell"></i>

        <div class="d-flex align-items-center gap-2">
            <span class="profile-avatar"></span>
            <div class="lh-1">
                <div class="fw-semibold">Jhon Doe</div>
                <small class="text-primary">Software Engineer</small>
            </div>
        </div>
    </div>
</div>
